<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>The Home Page of  <%= name %></h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error animi at ullam quos laboriosam. 
        Facere distinctio possimus dignissimos, non ducimus odit recusandae dicta ad quos velit impedit
         voluptatem consequatur iusto?
         lorem Lorem ipsum, dolor sit amet consectetur adipisicing elit. Similique ullam hic pariatur 
         perferendis eligendi quod provident quo soluta, quidem ducimus rerum tenetur impedit rem velit modi 
         odio quae maiores perspiciatis.
    </p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias saepe nam quas, dolorem distinctio nihil?
         Vero consequatur optio accusantium nisi cum sit odio ab, molestias debitis temporibus. Fuga, magnam harum!</p>
    
</body>
</html>